@font-face {
    font-family: 'Karla';
    font-weight: bold;
    src: url('fonts/Karla-Bold.ttf') format('truetype')
}

@font-face {
    font-family: 'Karla';
    font-style: normal;
    src: url('fonts/Karla-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Karla';
    font-style: italic;
    src: url('fonts/Karla-Italic.ttf') format('truetype')
}

@font-face {
    font-family: 'Karla';
    font-style: italic;
    font-weight: bold;
    src: url('fonts/Karla-BoldItalic.ttf') format('truetype')
}

a {
    text-decoration: none;
}

:root {
    --the-font: 'Open Sans';
    --the-font-size: 24px;
    --background-color-secondary: #FFBA5F;
    --background-color-primary: #FFFFFF;
    --border-color-secondary: #d2d2d2;
    --border-color-primary: #FFBA5F;
    --border-radius-primary: 6px;
    --border-style-primary: solid;
    --border-width-thick: 3px;
    --border-width-thin: 1px;
    --box-shadow-primary: 0 2px 4px 0 hsla(0, 0%, 84%, 0.5);
    --color-secondary: #FFFFFF;
    --color-primary: #FFBA5F;
    --font-size-big: 2.5em;
    --font-size-medium: 16px;
    --font-size-primary: 13px;
    --font-size-small: 12px;
    --font-letter-spacing: .045em;
    --margin-primary: 16px;
    --padding-primary: 10px;
    --padding-secondary: calc(var(--padding-primary) / 2);
}

html {
    font-family: 'Karla';
    border-radius: 10px;
    background: #FFFFFF;
}

body {
    width: 300px
}

div.title {
    margin: 0 auto;
}

div.title>span {
    font-size: var(--font-size-big);
}

div.title>span::before {
    content: url('./../images/icon48.png');
    vertical-align: -25%;
    padding: 0 5px 0 0;
}

ul.docks {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

li.dock {
    border-width: var(--border-width-thick);
    border-style: var(--border-style-primary);
    border-color: var(--border-color-primary);
    border-radius: var(--border-radius-primary);
    box-shadow: var(--box-shadow-primary);
    margin: 10px;
    padding: var(--padding-primary);
    background-color: var(--background-color-primary);
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: var(--font-letter-spacing);
    color: var(--color-primary);
    font-size: 15px;
    font-weight: 600;
}


li.dock:hover {
    -webkit-transform: translateY(-1px);
    transform: translateY(-4px);
    -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3);
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    color: var(--color-secondary);
    background-color: var(--color-primary);
}

.active {
    color: var(--color-secondary) !important;
    background-color: var(--color-primary) !important;
}