@font-face {
    font-family: 'Open Sans';
    src: url('fonts/open-sans-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('fonts/open-sans-regular.woff') format('woff')
        /* Pretty Modern Browsers */
}

a {
    text-decoration: none;
}

:root {
    --the-font: 'Open Sans';
    --the-font-size: 24px;
    --background-color-secondary: #f7f7f7;
    --background-color-primary: #fff;
    --border-color-secondary: #d2d2d2;
    --border-color-primary: #e6e6e6;
    --border-radius-primary: 6px;
    --border-style-primary: solid;
    --border-width-thick: 4px;
    --border-width-thin: 1px;
    --box-shadow-primary: 0 2px 4px 0 hsla(0, 0%, 84%, 0.5);
    --color-secondary: #000;
    --color-critical: #ca0000;
    --color-primary: #585858;
    --color-link: #0797e1;
    --color-info: #0797e1;
    --font-size-big: 17px;
    --font-size-medium: 16px;
    --font-size-primary: 13px;
    --font-size-small: 12px;
    --margin-primary: 16px;
    --padding-primary: 16px;
    --padding-secondary: calc(var(--padding-primary) / 2);
}

html {
    font-family: 'Open Sans';
    border-radius: 10px;
}

body {
    width: 300px
}

div.title {
    margin: 0 auto;
}

div.title>h1 {
    padding-left: 30px;
}

div.docs-dock {}

ul.docks {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

li.dock {
    border-width: var(--border-width-thin);
    border-style: var(--border-style-primary);
    border-color: var(--border-color-primary);
    border-radius: var(--border-radius-primary);
    box-shadow: var(--box-shadow-primary);
    margin: 10px;
    padding: var(--padding-primary);
    background-color: var(--background-color-primary);
    overflow: hidden;
    background: #f5f5f5;
    text-transform: uppercase;
    letter-spacing: .045em;
    color: #6772e5;
    font-size: 15px;
    font-weight: 600;
}


li.dock:hover {
    -webkit-transform: translateY(-1px);
    transform: translateY(-4px);
    -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3);
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}

div.doc {}